@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Roboto Condensed;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 225px 8fr;
    grid-template-rows: 1fr 9fr;
}

/* -------------------- construction du aside -------------------- */

aside {
    background-color: #202030;
    grid-area: 1 / 1 / 4 / 1;
    color: azure;
}


.logo {
    font-family: Merriweather Sans;
    padding-left: 10%;
}

.features {
    width: 70%;
    font-weight: 200;
}

aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 0.8em;
}

.ligne {
    border: 1px azure solid;
}


.feature:hover {
    background-color: #39304A;
}


header {
    grid-area: 1 / 2 / 1 / 2;
}


footer {
    grid-area: 3 / 1 / 4 / 3;
}


/* -------------- construction du header-------------- */

header {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 10px;
    background-color: #e2e2e2;
    width: 350px;
    height: 30px;
    padding-left: 10px;
}

.search-bar:hover, .search-bar input:hover {
    background-color: #c2c2c2;
}

.search-bar input {
    border: none;
    height: 30px;
    width: 330px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #e2e2e2;
}

.user-features {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sub {
    background-color: #202030;
    color: white;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sub:hover{
    background-color: #39304A;
}

.avatar {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: none;
}


/* -------------------- construction du main -------------------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
}

.main-container {
    background-color: white;
    width: 99%;
    height: 98.5%;
    border-radius: 5px ;
    display: grid;
    grid-template-rows: 0.5fr 9.5fr;
}

.main-container-features {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1%;
}

.add {
    border: solid 1px #B1B1B1;
    font-weight: 500;
    border-radius: 5px;
    font-size: 1em;
    background-color: whitesmoke;
    cursor: pointer;
}

.add:hover {
    background-color: #202030;
    color: whitesmoke;
}


/* ----------------- Construction du pop up ----------------- */


.header-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup {
    position: absolute;
    padding: 10px;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-25%, -25%) scale(1.25);
    background-color: rgba(239, 236, 236, 0.824);
    height: 320px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(0, 0, 0, 0.15);
}

.popup.active {
    top:45%;
    opacity: 1;
    transform: translate(-25%, -25%) scale(1);
    z-index: 1;
}

.popup .close-btn {
    border-radius: 100%;
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    background-color: #e4e3e3;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    top: 5px;
}

.popup .form .form-element {
    padding: 2%;
}

.popup .form .form-element label {
    gap: 50px;
}

.popup .form .form-element input[type="text"] {
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    height: 20px;
    outline: none;
    border: none;
}

.popup .form .form-element input[placeholder] {
    font-size: 0.7em;
}

.yesno {
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 4px;
}

.popup .form .yesno .form-element input[type="text"]  {
    width: 80px;
    margin-left: 5px;
}

.yesno {
    margin-top: 10px;
}

.yesno button {
    border-radius: 5px;
    border: none;
    background-color: #e4e3e3;
    padding: 5px 10px;
    cursor: pointer;
}

.yes-option-read.colored,.no-option-read.colored,
.yes-option-loved.colored,.no-option-loved.colored {
    background-color:#202030;
    color: white;
}


.yes-option-read.hovered,.no-option-read.hovered,
.yes-option-loved.hovered,.no-option-loved.hovered {
    background-color:#39304A;
    color: white;
}

.add-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}

.submit {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #202030;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
}

.submit:hover {
    background-color: #39304A;
}

/* -------------------- construction des cards -------------------- */

.cards {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,200px));
    grid-template-rows: repeat(4, auto);
    margin: 0 10px 0 10px;
    gap:10px
}

.card {
    background-color: #dedede5e;
    border-radius: 10px;
    height: 150px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards :hover {
    background-color: #efeeee;
}

.book-item, .author-item {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.title-item {
    font-weight: 700;
    flex: 0 0 auto;
}

.book-value {
    font-weight: 400;
    font-size: 0.9em;
    align-self: center;
    font-family: Merriweather Sans;
    flex: 1;
}

.author-value {
    font-weight: 300;
    font-size: 0.7em;
    font-family: Merriweather Sans;
    align-self: center;
    flex: 1;
}

.checkbox-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: end;
    align-items: center;
    width: 100%;
}

.checkbox-read {
    background-color: rgb(187, 187, 187);
    height: 15px;
    width: 30px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.checkbox-read::before {
    position: absolute;
    content: '';
    background-color: #ffffff;
    width: 9px;
    height: 9px;
    border-radius: 200px;
    margin: 3px;
    transition: 0.2s;
}

input:checked + .checkbox-read {
    background-color: #202030;
}

input:checked + .checkbox-read::before {
    transform:translateX(15px);
}

.checkbox-read:hover, .checkbox-like:hover{
    background-color: rgb(187, 187, 187);
}

.checkbox-like {
    position: relative;
    height: 11px;
    width: 11px;
    background-color: #BBBBBB;
    text-align: center;
    border-radius:  0 0 0 5px;
    transform: rotate(-45deg);
    cursor: pointer;
    justify-self: center;
    transition: 0.3s;
}

.checkbox-like::before {
    position: absolute;
    content: '';
    top: -60%;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
}

.checkbox-like::after {
    position: absolute;
    content: '';
    right: -60%;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
}

input:checked + .checkbox-like {
    background-color: #DF2E38;
}

.checkbox-container input {
    display: none;
}

.card button {
    color: black;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #E4E3E3;
    font-size: 0.7em;
    border: none;
    text-align: center;
    padding: 0;
    align-self:self-end;
    cursor: pointer;
}

.checkbox-read:hover::after {
    content: 'Read it?';
    font-size: 0.7em;
    text-align: center;
    align-items: center;
    display: block;
    position: absolute;
    background-color: #202030c9;
    color: white;
    width: 50px;
    height: 15px;
    padding: 2px;
    border-radius: 3px;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
}
