@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #B0A990;
    font-family: Roboto Condensed;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 225px 8fr;
    grid-template-rows: 1fr 9fr;
}

/* -------------------- construction du aside -------------------- */

aside {
    background-color: #202030;
    grid-area: 1 / 1 / 4 / 1;
    color: azure;
}


.logo {
    font-family: Merriweather Sans;
    padding-left: 10%;
}

.features {
    width: 70%;
    font-weight: 200;
}

aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 0.8em;
}

.ligne {
    border: 1px azure solid;
}


.feature:hover {
    background-color: #39304A;
}


header {
    background-color: #39304A;
    grid-area: 1 / 2 / 1 / 2;
}



main {
    background-color: #635C51;
}

footer {
    background: #B0A990;
    grid-area: 3 / 1 / 4 / 3;
}


/* -------------- construction du header-------------- */

header {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 10px;
    background-color: gainsboro;
    width: 350px;
    height: 30px;
    padding-left: 10px;
}

/* .ri-search-2-line {
    color: white;
} */

input {
    border: none;
    height: 30px;
    width: 330px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #dcdcdc;
}

.user-features {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sub {
    background-color: #202030;
    color: white;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

.sub:hover{
    background-color: #39304A;
}

.avatar {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: none;
}


/* -------------------- construction du main -------------------- */

main {
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: whitesmoke;
    width: 98.5%;
    height: 97%;
    border-radius: 5px ;
    display: grid;
    grid-template-rows: 0.5fr 9.5fr;
}

.main-container-features {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1%;
}

.add {
    border: solid 1px #B1B1B1;
    font-weight: 500;
    border-radius: 5px;
    font-size: 1em;
    background-color: whitesmoke;
}

.add:hover {
    background-color: #202030;
    color: whitesmoke;
}


/* ----------------- Construction du pop up ----------------- */


.header-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup {
    position: absolute;
    padding: 10px;
    top: 45%;
    left: 50%;
    opacity: 1;
    transform: translate(-25%, -25%) scale(1.25);
    background-color: rgba(239, 236, 236, 0.6);
    height: 350px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(0, 0, 0, 0.15);
}

/* .popup.active {
    top:45%;
    opacity: 1;
    transform: translate(-25%, -25%) scale(1);
} */

.popup .close-btn {
    border-radius: 100%;
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    background-color: #e4e3e3;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    top: 5px;
}

.popup .form .form-element {
    padding: 2%;
}

.popup .form .form-element label {
    gap: 50px;
}

.popup .form .form-element input[type="text"] {
    border-radius: 5px;
    margin-top: 5px;
}

.popup .form .form-element input[placeholder] {
    font-size: 0.7em;
}

.yesno {
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 4px;
}

.popup .form .yesno .form-element input[type="text"]  {
    width: 80px;
    margin-left: 5px;
}

.yesno {
    margin-top: 10px;
}

.yesno button {
    border-radius: 5px;
    border: none;
    background-color: #e4e3e3;
    padding: 5px 10px;
}

.yesno button:hover {
    background-color:#39304A;
    color: white;
}

.add-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}

.submit {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #202030;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
}

.submit:hover {
    background-color: #39304A;
}